<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.css">
    <script src="https://kit.fontawesome.com/5884815a3b.js" crossorigin="anonymous"></script>
    <title>Smart Student</title>
</head>

<body>
    <nav>
        <div class="logo"><i class="fas fa-graduation-cap"></i></div>
        <div class="brand-name">SmartStudent</div>
        <ul>
            <li>Wyloguj się</li>
        </ul>
    </nav>

    <div class="container">
        <div class="box">
            <div class="image">
                <img src="images/wiadomosci.png" alt="Wiadomości">
            </div>
            <h2>Wiadomości</h1>
        </div>
        <div class="box">
            <div class="image">
                <img src="images/plan_lekcji.png" alt="Wiadomości">
            </div>
            <h2>Plan lekcji</h1>
        </div>
        <div class="box">
            <div class="image">
                <img src="images/oceny.png" alt="Wiadomości">
            </div>
            <h2>Oceny</h1>
        </div>
        <div class="box">
            <div class="image">
                <img src="images/frekwencja.png" alt="Wiadomości">
            </div>
            <h2>Frekwencja</h1>
        </div>
        <div class="box">
            <div class="image">
                <img src="images/sprawdziany.png" alt="Wiadomości">
            </div>
            <h2>Sprawdziany</h1>
        </div>
        <div class="box">
            <div class="image">
                <img src="images/uwagi.png" alt="Wiadomości">
            </div>
            <h2>Uwagi</h1>
        </div>
        <div class="box">
            <div class="image">
                <img src="images/platnosci.png" alt="Wiadomości">
            </div>
            <h2>Płatności</h1>
        </div>
        <div class="box">
            <div class="image">
                <img src="images/zebrania.png" alt="Wiadomości">
            </div>
            <h2>Zebrania</h1>
        </div>
    </div>
</body>

</html>