* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    background-color: #8CCF4D;
}

.logo, .brand-name {
    font-size: 1.75rem;
    margin: .5rem;
}

.logo {
    margin-left: 3rem;
}

@media (max-width: 400px) {
    .logo {
        margin-left: 2rem;
    }
}

.container {
    display: grid;
    grid-template-columns: minmax(300px, 1fr);
    justify-items: center;
    grid-gap: 2rem;
    padding: 2rem;
}

.box {
    width: 270px;
    height: 270px;
    text-align: center;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #8CCF4D;
}

@media (min-width: 678px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }

    .box {
        width: 250px;
        height: 250px;
    }
}

@media (min-width: 1340px) {
    .box {
        width: 300px;
        height: 300px;
    }
}