{% extends 'base/base.html' %}
{% block content %}
  <div class="card">
    <div class="card-header">
          <i class="fa fa-align-justify"></i>Lista klas z profilami
    </div>
    {% if register_class %}
      <div class="card-body">
          <table class="table table-responsive-sm">
              <thead>
                  <tr>
                      <th>Id</th>
                      <th>Nazwa Klasy</th>
                      <th>Klasa</th>
                      <th>Profil</th>
                      <th>Data rejestracji</th>
                  </tr>
              </thead>
              <tbody>
                  {% for class in register_class %}
                    <tr>
                        <td>{{ class.id }}</td>
                        <td>{{ class.name }}</td>
                        <td>{{ class.class_name }}</td>
                        <td>{{ class.department }}</td>
                        <td>{{ class.date }}</td>
                    </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
      {% else %}
      <div class="card-body">
          <h3>Brak zarejestrowanych klas</h3>
      </div>
      {% endif %}
  </div>
  <a class="btn btn-secondary btn-sn mt-1" href="{% url 'administration-menu' %}">Powrót</a>
{% endblock %}
